# Database (PostgreSQL / Neon connection string)
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

# Better Auth configuration
BETTER_AUTH_SECRET="your-better-auth-secret-min-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
